.profile-container {
  max-width: 420px;
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 40px;
  /* border: 1px solid #e1e0e0;
  background-color: #fff;
  border-radius: 10px; */
}

.user-avatar-circle {
  width: 150px !important;
  height: 150px !important;
  cursor: pointer;
}

.ant-card-meta-title {
  font-size: 28px !important;
}

.ant-card-meta-description {
  font-size: 14px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}
